{% include '_header.twig' %}

{% if meta.title %}
    <h2>{{ meta.title }}</h2>
{% endif %}

{% if content %}
    {{ content }}
{% endif %}

<div>
    {% for page in pages('blog') | sort_by('time') | reverse if not page.hidden %}
        <div>
            <h3 class="margin-bottom-0">
                <a href="{{ page.url }}">{{ page.title }}</a>
            </h3>
            <p class="margin-0 text-muted">
                {{ [page.author, page.date_formatted] | filter(v) | join(' | ') }}
            </p>
            <p class="margin-top-0">{{ page.description }}</p>
        </div>
    {% endfor %}
</div>

{% include '_footer.twig' %}

