{% include '_header.twig' %}

<div>
    <h2 class="margin-bottom-0">{{ meta.title }}</h2>
    <p class="margin-0 text-muted">
        {{ [meta.author, meta.date_formatted] | filter(v) | join(' | ') }}
    </p>
    <p class="margin-top-0">{{ meta.description }}</p>
    {{ content }}
</div>

<div class="flex-between">
    <div>
        {% if previous_page.id starts with 'blog/' and not (previous_page.id ends with '/index') %}
            <a href="{{ previous_page.url }}">&lt; {{ previous_page.title }}</a>
        {% endif %}
    </div>

    <div>
        {% if next_page.id starts with 'blog/' and not (next_page.id ends with '/index') %}
            <a href="{{ next_page.url }}">{{ next_page.title }} &gt;</a>
        {% endif %}
    </div>
</div>

{% include '_footer.twig' %}

