{% include '_header.twig' %}

<article>
    <h2 class="margin-bottom-0">{{ meta.title }}</h2>

    <p class="margin-0 opacity-50">
        {{ [meta.author, meta.date_formatted] | filter(v) | join(' | ') }}
    </p>

    <p class="margin-0">{{ meta.description }}</p>

    {% if meta.tags %}
        <p class="margin-top-0">
            Tags:
            {% for tag in meta.tags %}
                <a href="{{ config.theme_config.blog_index_id | link }}?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </p>
    {% endif %}

    {{ content }}
</article>

<nav class="flex-between">
    <p>
        {%
            if previous_page.id starts with config.theme_config.blog_posts_dir ~ '/'
            and previous_page.id != config.theme_config.blog_index_id
        %}
            <a href="{{ previous_page.url }}">&lt; {{ previous_page.title }}</a>
        {% endif %}
    </p>

    <p>
        {%
            if next_page.id starts with config.theme_config.blog_posts_dir ~ '/'
            and next_page.id != config.theme_config.blog_index_id
        %}
            <a href="{{ next_page.url }}">{{ next_page.title }} &gt;</a>
        {% endif %}
    </p>
</nav>

{% include '_footer.twig' %}

