{% include '_header.twig' %}

<div>
    <h2>{{ meta.title }}</h2>
    {{ content }}
</div>

<div>
    {% for page in pages("posts")|sort_by("time")|reverse if not page.hidden %}
        <div>
            <h3 class="mb-0">
                <a href="{{ page.url }}">{{ page.title }}</a>
            </h3>
            <p class="m-0 text-muted">{{ page.author }} | {{ page.date_formatted }}</p>
            <p class="mt-0">{{ page.description }}</p>
        </div>
    {% endfor %}
</div>

{% include '_footer.twig' %}

