{% include '_header.twig' %}

<div>
    <h2 class="mb-0">{{ meta.title }}</h2>
    <p class="m-0 text-muted">{{ meta.author }} | {{ meta.date_formatted }}</p>
    <p class="mt-0">{{ meta.description }}</p>
    {{ content }}
</div>

{% include '_footer.twig' %}

