{% include '_header.twig' %}

{% set filter_tag = url_param('tag', 'string') | trim %}

{% if filter_tag %}
    <h2>Posts tagged with {{ filter_tag }}</h2>
{% elseif meta.title %}
    <h2>{{ meta.title }}</h2>
{% endif %}

{% if content %}
    {{ content }}
{% endif %}

{% set posts = pages('blog') | filter(p => not p.hidden) %}

{% if filter_tag %}
    {% set posts = posts | filter(p => filter_tag in p.meta.tags) %}
{% endif %}

{% set page_num = url_param('page', 'int', 1) %}
{% set page_size = 10 %}
{% set first_post = (page_num - 1) * page_size %}

{% for post in posts | sort_by('time') | reverse | slice(first_post, page_size) %}
    <article>
        <h3 class="margin-bottom-0">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>

        <p class="margin-0 opacity-50">
            {{ [post.author, post.date_formatted] | filter(v) | join(' | ') }}
        </p>

        <p class="margin-0">{{ post.description }}</p>

        {% if post.meta.tags %}
            <p class="margin-top-0">
                Tags:
                {% for tag in post.meta.tags %}
                    <a href="{{ 'blog' | link }}?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}

{% if page_num > 1 %}
    {% set prev_url = 'blog' | link ~ '?page=' ~ (page_num - 1) %}

    {% if filter_tag %}
        {% set prev_url = prev_url ~ '&tag=' ~ filter_tag %}
    {% endif %}
{% endif %}

{% set total_posts = posts | length %}
{% set total_pages = (total_posts / page_size) | round(0, 'ceil') %}

{% if page_num < total_pages %}
    {% set next_url = 'blog' | link ~ '?page=' ~ (page_num + 1) %}

    {% if filter_tag %}
        {% set next_url = next_url ~ '&tag=' ~ filter_tag %}
    {% endif %}
{% endif %}

<nav class="flex-between">
    <p>
        {% if prev_url %}
            <a href="{{ prev_url }}">&lt; Page {{ page_num - 1 }}</a>
        {% endif %}
    </p>

    <p>Page {{ page_num }} of {{ total_pages }}</p>

    <p>
        {% if next_url %}
            <a href="{{ next_url }}">Page {{ page_num + 1 }} &gt;</a>
        {% endif %}
    </p>
</nav>

{% include '_footer.twig' %}

